$white: #fff;
$black: #000;
$black-5: #f3f4f6;
$black-10: #e8e8e8;
$black-20: #e5e5e5;
$black-40: #cacccf;
$black-60: #a0a4a8;
$black-70: #909497;
$black-80: #52575c;
$black-100: #25282b;
$blue: #388bf2;
$orange: #fc8338;
$primary-100: #75bd7a;
$primary-300: #53ad59;
$primary-700: #4b9c50;
